<!DOCTYPE html>
<html lang="en">

{{>partials/head}}

<body>

  <!-- Navigation -->
  {{>partials/navigation}}
  <!-- Page Content -->
  <div class="container">

    <div class="mt-3">
         <div class="row">
          {{#pastries}}
          <div class="col-lg-4 col-md-6 mb-4">
            <div id="card-{{code}}" class="card h-100">
              <div class="card-body">
                <h4 class="card-title">
                  {{name}}
                </h4>
                <h5>${{price}}</h5>
              </div>
              <div class="card-footer">
                <form name="form-{{code}}" id="form-{{code}}" method="POST" action="/basket">
                  <input type="hidden" id="input-code-{{code}}" name="code" value="{{code}}">
                  <input type="submit" name="submit-button" class="btn btn-primary" value="Add to basket">
                </form>
              </div>
            </div>
          </div>
          {{/pastries}}
        </div>

    </div>


  </div>
  <!-- /.container -->

  {{>partials/footer}}

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
