<!DOCTYPE html>
<html lang="en">

{{>partials/head}}

<body>

<!-- Navigation -->
{{>partials/navigation}}
<!-- Page Content -->
<div class="container">

    <div class="mt-3">
        <div id="message">
            <h2>Your order is now complete</h2>
            <p>
                You should in pay in cash or by card upon delivery.
            </p>
            <p>
                Thank you for placing an order with Cake Factory!
            </p>
        </div>
    </div>


</div>
<!-- /.container -->

{{>partials/footer}}

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
